body,
html,
#root {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 0.625rem;
}

h1 {
  padding: 0.77rem 0;
  background-color: #b16d22;
  text-align: center;
  font-size: 1.88rem;
  color: #fff;
}

h1.highlight {
  color: rgb(46,113,238);
}

a {
  text-decoration: none;
  color: #fff;
}

.h2 {
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background: url(./img4.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  font-weight: 500;
  color: #fff;
}
